<p>template-from01 works!</p>
<section class="row justify-content-center text-left rounded shadow py-5">
  <div class="row py-2 col-md-4">
    <h2 class="text-center text-info">Basic Information From</h2>
    <form #myForm="ngForm" (ngSubmit)="onSubmitTemplateBased(myForm)">
      <div class="form-group py-2">
        <label for="FirstName">FirstName</label>
        <input required type="text" class="form-control" id="FirstName" name="FirstName" ngModel
          placeholder="Enter FirstName">
      </div>
      <div class="form-group">
        <label for="LastName">LastName</label>
        <input required type="text" class="form-control" id="LastName" name="LastName" ngModel
          placeholder="Enter LastName">
      </div>
      <div class="form-group py-2">
        <label for="PhoneNumber">PhoneNumber</label>
        <input required type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" ngModel
          placeholder="Enter Number">
      </div>
      <div class="form-group">
        <label for="Password">Password</label>
        <input required type="text" class="form-control" id="Password" name="Password" ngModel
          placeholder="Enter Password">
      </div>
      <div class="form-group py-2">
        <label for="DateOfBirth">Date Of Birth</label>
        <input required type="date" class="form-control" id="DateOfBirth" name="DateOfBirth" ngModel
          placeholder="Enter DateOfBirth">
      </div>
      <p class="py-2"> <button type="submit" [disabled]="!myForm.valid" class="btn btn-info py-2">Submit</button></p>
    </form>
  </div>
</section>
